@charset "UTF - 8";

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family:Arial, Helvetica, sans-serif;
}
:root{
    --principal:#E85D04;
    --secundaria:hsl(24, 93%, 59%);
    --fundo:#ffe3c5;
    --fundo-secundario:#f7cd99;
    --texto:#2B2B2B;
    --texto-secundario:#6B6B6B;
    --texto-terciario: #FFF3E0;
    --links: #FFE5D9;
    --contraste:#6A994E;
    --contraste-secundario:#3d091b;
    --alerta:#D62828;
    --black:black;
    --white:white;
}
header#saudacoes{
    height: 200px;
    width: 100vw;
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.597),
            rgba(0, 0, 0, 0.597) ),
        url('imagens/saudacao-background.jpg');
    background-position: center center;
    background-size: cover;
    margin-bottom: 30px;
}

header h1{
    color: var(--texto-terciario);
    font-size: 2.3em;
    text-shadow: 3px 3px 3px black;
    text-align: center;
    padding-top: 50px;
}
header p{
    padding-top: 10px;
    text-align: center;
    color: var(--texto-terciario);
}
header nav{
  margin-top: 50px;
  text-align: center;
}
header nav a{
    color: var(--links);
    text-decoration: none;
    transition-duration: 0.5s;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    padding: 5px;
    font-size: 0.95em;
}
header nav a:hover{
    font-size: 1.2em;
}
main{
    display: grid;
    grid-template-columns: auto 90vw auto;
}
section#cardapio{
    background-color: var(--fundo);
    padding: 15px;
    grid-column: 2/3;
    border-radius: 8px;
    margin-bottom: 30px;
}
section#cardapio h2{
    margin-bottom: 15px;
    color: #E85D04;
    font-size: 1.7em;
}
div.pizza{
    background-color: var(--fundo-secundario);
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 15px;
    transition-duration: 0.5s;
    border-left: 8px solid var(--secundaria);
}
div.pizza:hover{
    border-left: 25px solid var(--principal)
}
div.pizza img{
    width: 200px;
    align-self: center;
}
div.pizza h3{
    color: var(--principal);
   margin-bottom: 15px;
   font-size: 1.4em;
}
div.pizza p{
    color: var(--texto);
}
div.pizza .preco{
    color: var(--contraste);
    font-style: italic;
    font-weight: bold;
}
section#sobre-nos{
    grid-column: 2/3;
    background-color: var(--fundo);
    padding: 20px;
    border-radius: 8px;
}
section#sobre-nos h2{
    color: var(--principal);
    font-size: 1.7em;
    margin-bottom: 10px;
}
section#sobre-nos article{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#sobre-nos div#foto{
    width: 100%;
}
#sobre-nos div#foto img{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
}
#sobre-nos div#texto{
    background-color: var(--fundo-secundario);
    padding: 15px;
    border-radius: 8px;
}
#sobre-nos div#texto p{
    margin-bottom: 8px;
    color: var(black);
    text-align: justify;
}