@charset "UTF-8";

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family:Arial, Helvetica, sans-serif;
}
:root{
    --principal:#E85D04;
    --secundaria:#f88335;
    --fundo:#ffe3c5;
    --fundo-secundario:#f7cd99;
    --texto:#2B2B2B;
    --texto-secundario:#6B6B6B;
    --texto-terciario: #FFF3E0;
    --links: #FFE5D9;
    --contraste:#6A994E;
    --contraste-secundario:#3d091b;
    --alerta:#D62828;
    --black:black;
    --white:white;
}
header#saudacoes{
    height: 200px;
    width: 100%;
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.597),
            rgba(0, 0, 0, 0.597) ),
        url('imagens/saudacao-background.jpg');
    background-position: center center;
    background-size: cover;
    margin-bottom: 30px;
}

header h1{
    color: var(--texto-terciario);
    font-size: 2.3em;
    text-shadow: 3px 3px 3px black;
    text-align: center;
    padding-top: 50px;
}
header p{
    padding-top: 10px;
    text-align: center;
    color: var(--texto-terciario);
}
header nav{
  margin-top: 40px;
  text-align: center;
}
header nav a{
    color: var(--links);
    text-decoration: none;
    transition-duration: 0.5s;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    padding: 5px;
    font-size: 0.95em;
}
header nav a:hover{
    font-size: 1.2em;
}
main{
    display: grid;
    grid-template-columns: auto 90vw auto;
}
section#cardapio{
    background-color: var(--fundo);
    padding: 15px;
    grid-column: 2/3;
    border-radius: 8px;
    margin-bottom: 30px;
}
section#cardapio h2{
    margin-bottom: 15px;
    color: #E85D04;
    font-size: 1.7em;
}
div.pizza{
    background-color: var(--fundo-secundario);
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 15px;
    transition-duration: 0.5s;
    border-left: 8px solid var(--secundaria);
}
div.pizza:hover{
    border-left: 25px solid var(--principal)
}
div.pizza img{
    width: 200px;
    align-self: center;
}
div.pizza h3{
    color: var(--principal);
   margin-bottom: 15px;
   font-size: 1.4em;
}
div.pizza p{
    color: var(--texto);
}
div.pizza .preco{
    color: var(--contraste);
    font-style: italic;
    font-weight: bold;
}
section#sobre-nos{
   width: 92%;
   margin: auto;
    background-color: var(--fundo);
    padding: 20px;
    border-radius: 8px;
}
section#sobre-nos h2{
    color: var(--principal);
    font-size: 1.7em;
    margin-bottom: 10px;
}
section#sobre-nos article{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#sobre-nos div#foto{
    width: 100%;
}
#sobre-nos div#foto img{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
}
#sobre-nos div#texto{
    background-color: var(--fundo-secundario);
    padding: 15px;
    border-radius: 8px;
}
#sobre-nos div#texto p{
    margin-bottom: 8px;
    color: var(black);
    text-align: justify;
}
section#encomendar{
    background-color: var(--fundo);
    grid-column: 2/3;
    margin-bottom:30px ;
    padding: 20px;
    border-radius: 8px;
}
section#encomendar h2{
    color: var(--principal);
    font-size: 1.7em;
}
section#encomendar form{
    background-color: var(--fundo-secundario);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
}
form fieldset{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
form fieldset legend{
    font-size: 1.3em;
    color: var(--principal);
    font-weight: bold;
}
form label{
    font-size: 1.1em;
}
form > fieldset > div > input[type="text"], input[type="number"] {
  border: 2px solid var(--secundaria);
  height: 30px;
  border-radius: 4px;
}
form > #dados{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
div#mandar-resetar{
    display: flex;
    flex-direction: row;
    gap: 45px;
}
div#mandar-resetar input{
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 70px;
    background-color: var(--principal);
    color: var(--white);
    transition-duration: 0.3s;
}
div#mandar-resetar input:hover{
    background-color: var(--secundaria);
}
fieldset#pizzas{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
div#total p{
    margin-top: 10px;
    font-size: 1.2em;
    color: var(--contraste);
    font-weight: bold;
}
   @media screen and (min-width:768px) {
        main{
            grid-template-columns: auto 60% 30% auto;
            grid-template-rows: auto auto;
            gap: 30px;
        }
        section#cardapio{
            grid-column: 2/3;
            grid-row: 1/2;;
            margin-bottom: 0;
        }
        section#encomendar{
            grid-column:3/4;
            grid-row:1/2;
            height: 680px;
            position: sticky;
            top: 8px;
            z-index: 1;
        }
        section#sobre-nos{
            margin-bottom: 20px;
        }
        section#sobre-nos article{
            flex-direction: row;
        }
        section#sobre-nos div#texto{
            flex: 1 1 40%;
        }
        section#sobre-nos div#foto{
            align-self: center;
            flex: 1 1 50%;
        }
}
